# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Workspace Java IntelliJ\JavaChat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
